ansible-test-image:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat ansible-test/image/VERSION)
    - docker build
      --build-arg CI_JOB_TOKEN=$CI_JOB_TOKEN
      -t $CI_REGISTRY_IMAGE/ansible-test:$VERSION
      ansible-test/image/
    - docker push $CI_REGISTRY_IMAGE/ansible-test:$VERSION
  when: manual

asciidoctor-image:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat asciidoctor/image/VERSION)
    - docker build
      --build-arg CI_JOB_TOKEN=$CI_JOB_TOKEN
      -t $CI_REGISTRY_IMAGE/asciidoctor-image:$VERSION
      asciidoctor/image
    - docker push $CI_REGISTRY_IMAGE/asciidoctor-image:$VERSION
  when: manual

bpocore-cli-onboard:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat bpocore-cli-onboard/image/VERSION)
    - docker build
      --build-arg PYPI_CREDS=gitlab-ci-token:$CI_JOB_TOKEN
      -t $CI_REGISTRY_IMAGE/bpocore-cli-onboard:$VERSION
      bpocore-cli-onboard/image/
    - docker push $CI_REGISTRY_IMAGE/bpocore-cli-onboard:$VERSION
  when: manual

bpmn-image:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat bpmn/image/VERSION)
    - docker build
      -t $CI_REGISTRY_IMAGE/bpmn-image:$VERSION
      -f bpmn/image/Dockerfile
      .
    - docker push $CI_REGISTRY_IMAGE/bpmn-image:$VERSION
  when: manual

.image-base:
  image: docker
  tags:
    - ciena
  stage: build
  before_script:
    - export VERSION=$(cat $DIR/image/VERSION)
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build
      --build-arg GITLAB_TOKEN=$GITLAB_TOKEN
      --build-arg DOCKER_REGISTRY_USER=$DOCKER_REGISTRY_USER
      --build-arg DOCKER_REGISTRY_PASSWORD=$DOCKER_REGISTRY_PASSWORD
      --build-arg PUSHER_HOST_PW=$PUSHER_HOST_PW
      -t $CI_REGISTRY_IMAGE/$IMG_NAME:$VERSION
      -f $DIR/image/Dockerfile
      .
    - docker push $CI_REGISTRY_IMAGE/$IMG_NAME:$VERSION
  when: manual

.mr-base:
  extends: .image-base
  before_script:
    - export VERSION=$(cat $DIR/image/VERSION).$CI_COMMIT_SHORT_SHA
  only:
    refs:
      - merge_requests

.master-base:
  extends: .image-base
  after_script:
    - export VERSION=$(cat $DIR/image/VERSION)
    - docker tag $CI_REGISTRY_IMAGE/$IMG_NAME:$VERSION $CI_REGISTRY_IMAGE/$IMG_NAME:latest
    - docker push $CI_REGISTRY_IMAGE/$IMG_NAME:latest
  only:
    refs:
      - master

mr-build-image:
  extends: .mr-base
  variables:
    DIR: auto-build
    IMG_NAME: build-image

mr-misc-py-image:
  extends: .mr-base
  variables:
    DIR: misc
    IMG_NAME: misc-python-image

mr-onboard-test-image:
  extends: .mr-base
  variables:
    DIR: onboard-test
    IMG_NAME: onboard-test

mr-lint-image:
  extends: .mr-base
  variables:
    DIR: lint
    IMG_NAME: lint-image

master-build-image:
  extends: .master-base
  variables:
    DIR: auto-build
    IMG_NAME: build-image

master-misc-image:
  extends: .master-base
  variables:
    DIR: misc
    IMG_NAME: misc-python-image

master-onboard-test-image:
  extends: .master-base
  variables:
    DIR: onboard-test
    IMG_NAME: onboard-test

master-lint-image:
  extends: .master-base
  variables:
    DIR: lint
    IMG_NAME: lint-image

pdf-image:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat pdf/image/VERSION)
    - docker build
      --build-arg CI_JOB_TOKEN=$CI_JOB_TOKEN
      -t $CI_REGISTRY_IMAGE/pdf-image:$VERSION
      pdf/image/
    - docker push $CI_REGISTRY_IMAGE/pdf-image:$VERSION
  when: manual

solution-build-image:
  image: docker
  tags:
    - docker
  stage: build
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - export VERSION=$(cat solution-build/image/VERSION)
    - docker build
      --build-arg CI_JOB_TOKEN=$CI_JOB_TOKEN
      --build-arg PYPI_CREDS=gitlab-ci-token:$CI_JOB_TOKEN
      -t $CI_REGISTRY_IMAGE/solution-build-image:$VERSION
      solution-build/image/
    - docker push $CI_REGISTRY_IMAGE/solution-build-image:$VERSION
  when: manual

