[flake8]
exclude =
    # Ignore git dir
    .git,
    # Ignore pyc files
    *.pyc,
    # ignore cache dirs
    __pycache__,
    # ignore requirements files
    requirements,
    # ignore venv directories
    bin,
    lib,
    include,
    test_snmp.py
    *common_sense

# line length is too conservative at 80 chars
max_line_length = 121

ignore = W503, E203, S507, S608, S501, S106, E501

# Print total number of errors
count = True

# Show statistics - number of each error/warning
statistics = True

# Print the source code that generates the error/warning in question
show_source = True
