version: '3.8'

services:
  alloy-test:
    image: grafana/alloy:latest
    container_name: alloy-test
    restart: unless-stopped

    volumes:
      # Use test config
      - ./config.alloy:/etc/alloy/config.alloy:ro

      # Mount syslog directories
      - /var/log/ciena:/var/log/ciena:ro
      - /bp2/log:/bp2/log:ro

    command:
      - run
      - /etc/alloy/config.alloy
      - --server.http.listen-addr=0.0.0.0:12345
      - --stability.level=public-preview

    ports:
      - "12345:12345"

    network_mode: host
    user: root
