{%if ip_add %}

    {% if ip_add is string %}
        show route {{ ip_add }}
    {% elif (ip_add != string) and (ip_add is iterable) %}
        {% for ip in ip_add %}
            show route {{ ip }}
        {% endfor %}
    {% endif %}

{% endif %}

{% if ipv6_add %}

    {% if ipv6_add is string %}
        show route ipv6 {{ ipv6_add }}
    {% elif (ipv6_add != string) and (ipv6_add is iterable) %}
        {% for ipv6 in ipv6_add %}
            show route ipv6 {{ ipv6 }}
        {% endfor %}
    {% endif %}

{% endif %}
