# General development ignore files
**/.*.swp
*.env
# why, Apple?!
**/.DS_Store

# Python specific
**/pyvenv.cfg
**/pip-selfcheck.json
**/.Python
**/secrets.py
.coverage

**/__pycache__/**
palantir/**/.cache

include/**

bin/**
lib/**

venv_beorn/**
venv/*
venv/

#pycharm
.cache/**
.idea/**
logs/log**
log.log

.vscode

beorn_venv/**

.gitattributes
