<rpc>
    <get-isis-overview-information>
        <filter type="subtree">
            <isis-overview-information xmlns="http://xml.juniper.net/junos/16.1R6/junos-routing">
                <isis-overview>
                </isis-overview>
            </isis-overview-information>
        </filter>
    </get-isis-overview-information>
</rpc>
