<rpc>
<get-config>
<source><running/></source>
<filter type="subtree">
<configuration>
    <interfaces>
        <interface>
            <name>{{ port }}</name>
       </interface>
    </interfaces>
</configuration>
</filter>
</get-config>
</rpc>
