<rpc message-id="1">
 <get-config>
    <source>
      <running/>
    </source>
    <filter type="subtree">
      <ent:sub-network xmlns:fac="http://www.advaoptical.com/ns/yang/fsp150cm-facility"
                       xmlns:ent="http://www.advaoptical.com/ns/yang/fsp150cm-entity">
        <ent:network-element>
          <ent:shelf>
            <ent:slot>
              <ent:card>
                <ent:ethernet-card>
                  <fac:ethernet-port>
                  </fac:ethernet-port>
                </ent:ethernet-card>
              </ent:card>
            </ent:slot>
          </ent:shelf>
        </ent:network-element>
      </ent:sub-network>
    </filter>
  </get-config>
</rpc>
]]>]]>