home
configure snmp
delete community public
delete community private
add community N4cSDgWPU973QXg6MjR5 readonly


home
configure user-security
security-strength low

add comm_support comm#SupPWD comm#SupPWD maintenance
delete NOC
delete user
delete netadmin
auth-protocol tacacs
config-rap 1
order first
ip-version ipv4
ip-address 198.24.118.191
port 49
secret 8D3aMVcSc!4CMo

timeout 2
retries 1
control enabled

home
admin da
backup-db
home
