__version__: 1
docker_registry: {{ registry }}
solution_name: {{ name | replace("-","_")}}
solution_version: {{ IMAGE_TAG }}

apps:
{%- for app in apps %}
	{%-  if app.app_solution %}
    {{ name }}:
        image: {{ vendor }}/{{ name }}:{{ IMAGE_TAG }}
    {%- elif app.pypi %}
    {{ name }}-pypi:
        image: {{ vendor }}/{{ name }}-pypi:{{ IMAGE_TAG }}
	{%- else %}
    {{ app.name }}:
        {%- if app.image is defined %}
        image: {{ vendor }}/{{ app.image }}:{{ app.version }}
        {%- else %}
        image: {{ vendor }}/{{ app.name }}:{{ app.version }}
        {%- endif %}
    {%- endif %}
    {%- if app.max_instances is defined %}
        max_instances: {{ app.max_instances }}
    {%- endif %}
    {%- if app.volumes is defined %}
        volumes:
        {%- for vol in app.volumes %}
          - {{ vol }}
        {%- endfor -%}
    {% endif -%}{% if app.ports is defined %}
        ports:{% for port in app.ports %}
          - {{ port }}
        {%- endfor -%}
        {% endif %}{% if app.net is defined %}
        net: {{ app.net }}
        {%- endif -%}{% if app.privileged %}
        privileged: true
        {%- endif %}
        {%- if app.environment is defined %}
        environment:
          {%- for env in app.environment %}
          - {{ env }}
          {%- endfor -%}
          {%- if ("BP2RemoveDataOnRestore=true" not in app.environment) and ("BP2RemoveDataOnRestore=false" not in app.environment) %}
          - BP2RemoveDataOnRestore=true
          {%- endif %}
        {%- else %}
        environment:
          - BP2RemoveDataOnRestore=true
        {%- endif %}

    {%- if app.default_instances is defined %}
        default_instances: {{ app.default_instances }}
    {%- endif %}
{% endfor %}

{% if app_bar is defined %}
app_bar:
    {%- for category in app_bar %}
    {{category.category}}:
        {%- for swimlane in category.swimlanes %}
        {{ swimlane.name }}:
            {%- for item in swimlane.options %}
            '{{ item.name }}':
                description: '{{ item.description }}'
                icon: '{{ item.icon }}'
                url: '{{ item.url }}'
            {% endfor -%}
        {% endfor -%}
    {% endfor %}
{% endif %}
