{%- for app in apps %}
{%-  if app.app_solution -%}
{{ registry }}/{{ vendor }}/{{ name }}:{{ IMAGE_TAG }}
{%- elif app.pypi %}
{{ registry }}/{{ vendor }}/{{ name }}-pypi:{{ IMAGE_TAG }}
{%- else %}
    {%- if app.image is defined %}
{{ registry }}/{{ vendor }}/{{ app.image }}:{{ app.version }}
    {%- else %}
{{ registry }}/{{ vendor }}/{{ app.name }}:{{ app.version }}
    {%- endif %}
{%- endif %}
{%- endfor %}
