bin/**
include/**
lib/**
Scripts/*

# Environments
.env
.venv
env/
*_venv/
ENV/
env.bak/
venv.bak/
.cache/**
venv*

# MacOS
.DS_Store

# Make files
Makefile

# Ignore IDE, vi/vim Stuff
.vscode
**.idea**
*.swp
/scratch/
*.vim*
tags
tempCodeRunnerFile.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
