__version__: 1
solution_name: {{ name }}
solution_version: {{ version }}

apps:
{%- if apps | length == 0 and app_bar is not defined %} {# assume a single app #}
    {{ name }}:
        image: {{ registry }}/{{ vendor }}/{{ name }}:{{ version }}
        volumes:
        - /dev/log:/dev/log
        - /etc/hostname:/etc/physical_hostname:ro
        max_instances: 1
        environment:
          - BP2RemoveDataOnRestore=true
{% endif %}
{%- for app in apps %}
	{%-  if app.app_solution %}
    {{ name }}:
        image: {{ registry }}/{{ vendor }}/{{ name }}:{{ version }}
    {%- elif app.pypi and pypi.version %}
    {{ name }}-pypi:
        image: {{ registry }}/{{ app.vendor }}/{{ name }}-pypi:{{ pypi.version }}
	{%- else %}
    {{ app.name }}:
        image: {{ registry }}/{{ app.vendor }}/{{ app.name }}:{{ app.version }}
    {%- endif %}
    {%- if app.max_instances is defined %}
        max_instances: {{ app.max_instances }}
    {%- endif %}
    {%- if app.volumes is defined %}
        volumes:
        {%- for vol in app.volumes %}
          - {{ vol }}
        {%- endfor -%}
    {% else %}{# default volume mounts #}
        volumes:
        - /dev/log:/dev/log
        - /etc/hostname:/etc/physical_hostname:ro
    {% endif -%}
    {% if app.ports is defined %}
        ports:{% for port in app.ports %}
          - {{ port }}
        {%- endfor -%}
        {% endif %}{% if app.net is defined %}
        net: {{ app.net }}
        {%- endif -%}{% if app.privileged %}
        privileged: true
        {%- endif -%}
    {% if app.environment is defined %}
        environment:{% for env in app.environment %}
          - {{ env }}
        {%- endfor -%}
    {% else %}{# default environment #}
        environment:
          - BP2RemoveDataOnRestore=true
    {% endif %}
    {%- if app.default_instances is defined %}
        default_instances: {{ app.default_instances }}
    {%- endif %}
{% endfor %}
{% if app_bar is defined %}
app_bar:
    {%- for category in app_bar %}
    {{category.category}}:
        {%- for swimlane in category.swimlanes %}
        {{ swimlane.name }}:
            {%- for item in swimlane.options %}
            '{{ item.name }}':
                description: '{{ item.description }}'
                icon: '{{ item.icon }}'
                url: '{{ item.url }}'
            {% endfor -%}
        {% endfor -%}
    {% endfor %}
{% endif %}
